@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
    --font-title: "Young Serif", serif;
    --font-text: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: var(--font-title);
    color: var(--brown800);
    font-weight: 400;
}

p,
li {
    font-family: var(--font-text);
    color: var(--stone600);
    font-size: .8rem;
}

.hero {
    background-color: var(--stone100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-omelette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.omelette__img {
    width: 100%
}

.omelette__recipe {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.recipe__title {
    font-family: var(--font-title);
    font-weight: 400;
    color: var(--stone900);
    font-size: 1.5rem;
}

.recipe__description {
    font-size: .8rem;
}

.recipe-preparation {
    background-color: var(--rose50);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 12px;
}

.preparation__title {
    color: var(--rose800);
    font-family: var(--font-text);
}

.preparation-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}

.preparation-list__item p {
    padding-left: 1rem
}

.preparation-list__item::marker {
    color: var(--rose800);
}

.recipe-ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid var(--stone150);
    padding-bottom: 1.5rem;
}

.ingredients-list__item p {
    padding-left: 1rem;
}

.ingredients-list__item::marker {
    color: var(--brown800);
}

.recipe-instructions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.instructions-list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-left: 1rem;
    border-bottom: 1px solid var(--stone150);
    padding-bottom: 1.5rem;
}

.instructions-list__item p {
    padding-left: 1rem;
}

.instructions-list__item::marker {
    color: var(--brown800);
}

.recipe-nutrition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nutrition-table {
    display: flex;
}

.table-body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-body__tr {
    display: flex;
    gap: 1rem;
    padding: .4rem;
    border-bottom: 1px solid var(--stone150);
}

.table-body__tr:last-child {
    border-bottom: none;
}

.table-body__title {
    font-family: var(--font-text);
    color: var(--stone600);
    font-weight: 400;
    width: 50%;
    padding-left: 1rem;
    text-align: left;
    font-size: .8rem;
}

.table-body__text {
    color: var(--brown800);
    font-family: var(--font-text);
    font-size: .8rem;
    width: 50%;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .hero-omelette {
        width: 620px;
        margin: 128px;
        border-radius: 24px;
    }
    
    .omelette__img {
        margin-top: 40px;
        height: 300px;
        border-radius: 24px;
        object-fit: fill;
        width: 536px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-omelette {
        width: 736px;
    }
    
    .omelette__img {
        margin-top: 40px;
        border-radius: 24px;
        object-fit: fill;
        height: 300px;
        width: 656px;
    }
}